@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  width: 90vw;
  display: flex;
  gap: 1.5rem;
}

h3 {
  display: inline;
  position: absolute;
  left: 2rem;
  bottom: 2rem;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  opacity: 0;
}

.panel {
  flex: 0.5;
  height: 80vh;
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 2.5rem;
  cursor: pointer;
  position: relative;
  transition: flex 0.7s ease-in;
}

.panel--active {
  flex: 5;
}

.panel--active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

.panel--1 {
  background-image: url('https://images.unsplash.com/photo-1558979158-65a1eaa08691?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
}

.panel--2 {
  background-image: url('https://images.unsplash.com/photo-1572276596237-5db2c3e16c5d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
}

.panel--3 {
  background-image: url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80');
}

.panel--4 {
  background-image: url('https://images.unsplash.com/photo-1551009175-8a68da93d5f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80');
}

.panel--5 {
  background-image: url('https://images.unsplash.com/photo-1549880338-65ddcdfd017b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
    margin: 0 1.5rem;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}
